* {
  box-sizing: border-box;
  font-family: Futura, Calibri, Candara, Arial, Helvetica;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;  
}

p {
  background-color: grey;
  padding: 5px;
  color: white;
  margin: 0;
  height: 100%;
}

body {
  margin: 10px;
}

.product {
  border: 1px solid black;
  margin: 10px;
  background-color: grey;
}

.product > .product-heading{
  float: right;
  width: 150px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 2px;
  font-size: 1.25em;
}

.product > .product-detail{
  clear: right;
  height: 175px;
}

#chicken-heading{
  background-color: #FF4255;
}

#beef-heading{
  background-color: #6054FF;
}

#sushi-heading{
  background-color: #3BFF92
}

.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }
}