#nav-bar {
  background-color: #2C438A;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #2C438A;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;

}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#main-content{
	padding-top: 70px;
}

.menu-item {
  background-color: #BABABA;
}

.menu-item > .item-heading {
	font-family: 'Helevetica', serif;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}